<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<title>Pusher Test</title>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
</head>

<body>

<div class="row">
    <textarea id="codeArea" rows="8" cols="40">This is code.</textarea>
    <button type="button" id="sendCode">Send</button>
    <textarea id="statusMessage" rows="8" cols="40">Return from the server.</textarea>
</div>

<script src="https://cdn.pubnub.com/pubnub-dev.js"></script>
<!-- Instantiate PubNub -->
<script type="text/javascript">
    var PUBNUB_demo = PUBNUB.init({
        publish_key: 'pub-c-6a3d5bbe-652b-49a2-bca1-ccb6db8bb50d',
        subscribe_key: 'sub-c-5fa82184-f7ba-11e4-8fd2-02ee2ddab7fe'
    });

    // Subscribe to the demo_tutorial channel
    PUBNUB_demo.subscribe({
    channel: 'demo_tutorial',
    message: function(m){
        var string1 = String($('textarea#statusMessage').val()).concat('\n');
        var string2 = string1.concat(m.code);
        $('textarea#statusMessage').html(string2);
        console.log(m.code)
    }
});

</script>

<script>

$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

$(function(){
    $('#sendCode').on('click', function(e){
        // Publish a simple message to the demo_tutorial channel
        PUBNUB_demo.publish({
            channel: 'demo_tutorial',
            message: {"code":$('textarea#codeArea').val()}
        });

    });
});
</script>

</body>
</html>
